.wrapper {
	border: 2px solid black;
	border-radius: 20px;
	padding: 8px;

	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: space-between;

	--distance-from-edges: 8px;
	left: var(--distance-from-edges);
	top: var(--distance-from-edges);
	right: var(--distance-from-edges);
	bottom: var(--distance-from-edges);
}